.form-checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  padding-top: 8px;

  &:last-child {
    margin-right: 0;
  }

  /* input */
  & > input.checkbox {
    position: absolute;
    left: -9999px;
  }

  /* 기본 스타일 */
  > .label {
    position: relative;
    display: inline-block;
    /* checkbox 크기 20 + 텍스트 좌측여백 8 */
    padding-left: 28px;
    cursor: pointer;

    /* label 내 실제 텍스트 - 상하 정렬용 element(디자인 폰트 디센/어센더 맞춤용) */
    > i {
      /* FIXME: 디자인폰트 적용 후 수정 필요*/
      display: inline-block;
      height: 20px;
      line-height: 20px;
      vertical-align: top;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      transition: background-color 0.2s ease;
    }
    &:before {
      z-index: 0;
      box-shadow: inset 0 0 0 1px var(--color-gray-30);
      background-color: #fff;
      border-radius: 2px;
    }
    &:after {
      z-index: 1;
      width: 10px;
      height: 6px;
      left: 5px;
      top: 6px;
      box-sizing: border-box;
      border-width: 0 0 2px 2px;
      border-style: solid;
      border-color: var(--color-gray-30);
      transform: rotate(-45deg);
    }
  }

  /* 기본 - checked */
  > input.checkbox:checked + .label {
    &:before {
      box-shadow: none;
      background-color: var(--color-gray-100);
    }
    &:after {
      border-color: #fff;
    }
  }

  /* disabled */
  > input.checkbox:disabled {
    + .label {
      cursor: default;
      &:before {
        box-shadow: inset 0 0 0 1px var(--color-gray-20);
      }
      &:after {
        border-color: var(--color-gray-20);
      }
    }

    &:checked + .label {
      &:before {
        box-shadow: none;
        background-color: var(--color-gray-30);
      }
      &:after {
        border-color: #fff;
      }
    }
  }

  /* error */
  &.error {
    > .label {
      color: var(--color-coral);

      &:before {
        box-shadow: inset 0 0 0 1px var(--color-coral);
      }
      &:after {
        border-color: var(--color-coral);
      }
    }

    > input.checkbox:checked + .label {
      &:before {
        box-shadow: none;
        background-color: var(--color-coral);
      }
    }
  }

  /* valid */
  &.valid {
    > .label {
      &:before {
        box-shadow: inset 0 0 0 1px var(--color-sky);
      }
      &:after {
        border-color: var(--color-sky);
      }
    }

    > input.checkbox:checked + .label {
      &:before {
        box-shadow: none;
        background-color: var(--color-sky);
      }
    }
  }
}
