//mixin
@mixin fontFace($filename, $weight) {
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: $weight;
    src:
      local(#{$filename}),
      url('/pc/assets/fonts/#{$filename}.woff2') format('woff2');
  }
}

@include fontFace('Pretendard-Regular', 400);
@include fontFace('Pretendard-Bold', 600);
