.grid-flex {
  /* dft: flex + row */
  display: flex;
  flex-direction: row;
  gap: 8px;

  /* 특정 자식 flex glow 처리 */
  .grow {
    flex-grow: 1;
  }

  &.col {
    display: flex;
    flex-direction: column;
  }

  &.inline {
    display: inline-flex;
  }

  /***** Gap Type *****/
  &.gap-radio {
    /* checkbox도 같은 클래스명으로 사용합니다. (상하여백은 임의 설정함.) */
    gap: 15px 20px;
  }
}
