.navigation {
  position: fixed;
  bottom: 20px;
  right: calc((100% - 1140px) / 2 - 187px);
  display: flex;
  flex-direction: column;
  gap: 9px;
  z-index: 1000;

  .navigation-button {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
    text-indent: -999px;

    &.button-back {
      background-image: url('../assets/images/icon/ico-wing-prev.svg');
    }
    &.button-event {
      background-image: url('../assets/images/icon/ico-wing-event.svg');
    }
    &.button-talk {
      background-image: url('../assets/images/icon/ico-wing-kakao.svg');
    }
    &.button-top {
      background-image: url('../assets/images/icon/ico-wing-top.svg');
    }
  }
}
