html,
body {
  height: 100%;
  font-size: 16px; // 1rem = 16px
  //TODO:font-family 설정 필요
}

html,
body,
p,
span,
img,
div,
ol,
ul,
li,
dl,
dt,
dd,
table,
caption,
thead,
tbody,
tr,
th,
td,
col,
colgroup,
form,
fieldset,
legend,
select,
option,
input,
textarea,
pre,
header,
footer,
article,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
i,
em,
a,
figure,
figcaption,
nav,
embed,
iframe {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
caption {
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
fieldset {
  border: 0;
}
th,
strong,
b {
  font-weight: bold;
}
i,
em,
address {
  font-style: normal;
}
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.blind {
  position: absolute;
  left: -9999px;
  top: 0;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

#skipnavi {
  position: absolute;
  left: 0;
  top: -30px;
}

button,
select,
input {
  -webkit-appearance: none;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

/* Root 공통 스타일 */
html {
  -webkit-text-size-adjust: none;
  background-color: #fff;

  /* FIXME: 디자인 폰트 수급 후 교체 필요*/
  font-family: '-apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue" ,Arial, sans-serif';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -1%;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  color: var(--color-gray-100);
}

body,
input,
select,
button,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
table {
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
}

textarea {
  resize: none;
}

input[type='text'],
input[type='password'],
input[type='submit'],
input[type='tel'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

strong,
b {
  /* FIXME: 디자인 스타일 - bold 표준 찾아서 교체 필요 */
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

img,
a {
  -webkit-user-drag: none;
}

a {
  color: inherit;
  text-decoration: underline;
}
