@mixin arrow($right, $degree) {
  content: '';
  position: absolute;
  right: $right;
  top: 50%;
  width: 10px;
  height: 1px;
  background: var(--color-gray-50);
  transform: translateY(-50%) rotate($degree);
  pointer-events: none;
}
.form-select {
  position: relative;
  width: 100%;
  select {
    width: 100%;
    padding: 7px 34px 7px 10px;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid var(--color-gray-20);
    border-radius: 4px;
    &[disabled] {
      background-color: var(--color-gray-20);
      color: var(--color-gray-50);
    }
  }
  &::before {
    @include arrow(17px, 45deg);
  }
  &::after {
    @include arrow(10px, -45deg);
  }
  &.large {
    select {
      padding: 12px 40px 12px 16px;
      font-size: 15px;
      line-height: 24px;
    }
    &::before {
      @include arrow(23px, 45deg);
    }
    &::after {
      @include arrow(16px, -45deg);
    }
  }
  &.full-width {
    select {
      width: 100%;
    }
  }
  &.error {
    select {
      border-color: var(--color-coral);
    }
  }
  &.valid {
    select {
      border-color: var(--color-sky);
    }
  }
}
