/* Swiper 스타일 */

.swiper {
  .swiper-slider {
    max-width: 100%;
  }

  /* 이전/다음 버튼 */
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--color-gray-50);

    &:after,
    &:before {
      font-size: 28px;
    }
  }

  /* 
    swiper-type1 
    1. 메인 - 상단 KeyVisual 배너
    2. 슬라이더 신제품 슬라이더
  */
  &.swiper-type1 {
    .swiper-pagination {
      &-bullet {
        background: var(--color-gray-70);
        transition: width ease 0.2s;
        &-active {
          width: 16px;
          border-radius: 4px;
          background: var(--color-primary);
        }
      }
    }
  }
}
