/* Typo - title(헤딩) */
.typo-title {
  word-break: keep-all;
  &.level1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.64px;

    &.expanded1 {
      line-height: 36px;
    }

    &.expanded2 {
      line-height: 40px;
    }
  }
}

/* Typo - text(문단) */
.typo-text {
  word-break: keep-all;
  color: var(--color-gray-70);
  line-height: 24px;
}
