:root {
  --color-primary: #E62263;
  
  --color-gray-100: #29292A;
  --color-gray-70: #3C3C47;
  --color-gray-50: #8B95A1;
  --color-gray-30: #B0B8C1;
  --color-gray-20: #E5E8EB;
  --color-gray-10: #EFF1F3;

  --color-coral: #CF2027;
  --color-sand: #FACD3C;
  --color-sky: #4C79D3;
  --color-grass: #32B478;
}