:root {
  --color-primary: #e62263;

  --color-gray-100: #29292a;
  --color-gray-70: #3c3c47;
  --color-gray-50: #8b95a1;
  --color-gray-30: #b0b8c1;
  --color-gray-20: #e5e8eb;
  --color-gray-10: #eff1f3;

  --color-coral: #cf2027;
  --color-sand: #facd3c;
  --color-sky: #4c79d3;
  --color-grass: #32b478;

  --color-white: #ffffff;
}
