.brandStory-container {
  padding-top: 80px;
  border-top: 1px solid #a7a7a7;

  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #2a2a2a;
    text-align: center;
    margin-bottom: 29px;
    span {
      color: #e52163;
    }
  }
  h3 {
    font-size: 26px;
    font-weight: bold;
    color: #2a2a2a;
    margin-bottom: 30px;
    text-align: center;
  }
  h4{
    font-size: 20px;
    font-weight: bold;
    color: #2a2a2a;
    margin-bottom: 10px;
    text-align: center;
  }
  p {
    font-size: 16px;
    line-height: 30px;
    font-weight: lighter;
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 56px;
    img{
      display: block;
      margin:0 auto 20px;
      width:300px;
      height:auto;
    }
    b{
      font-weight:600;
      color:#e52163;
    }
    i{
      color:#1590c0;
      font-weight:600;
    }
    span{
      font-weight:600;
      color:#efc220;
    }
    em{
      font-weight:600;
      color:#794099;
    }
  }
  .fsc{
    
    background-color:#f7f8f7;
    border-radius:4px;
    padding:36px 60px;
    margin-bottom:40px;
    display: flex;
    gap:36px;
    li{
      position: relative;
      flex:35%;
      padding-right:36px;
      &::after{
        content:'';
        width:1px;
        height: 30px;
        background:#e3e8e6;
        
        position:absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);
      }
      &:last-child{
        flex:auto;
        padding-left: 70px;
        padding-right:0;
        background:url(../assets/images/img/valid-icon.png) no-repeat 0 0;
        background-size:44px auto;
        b{
          color:#2a2a2a
        }
      }
      b{
        display: block;
        color:#767d7b;
        font-size:14px;
      }
    }
  }
  .brandStory-img {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
}

.event-container {
  padding-top: 80px;
  border-top: 1px solid #a7a7a7;

  .event-section-title {
    font-size: 28px;
    font-weight: bold;
    color: #2a2a2a;
    text-align: center;
    margin-bottom: 48px;
  }
  .event-list {
    gap: 70px 19px;
    & > li {
      flex: 1 1 calc(50% - 19px);
    }
  }

  .tab-container {
    display: flex;
    border: 1px solid #ccc;
    border-bottom: none;
    width: 100%;
    margin: 0 auto 98px;
  }
  .tab {
    flex: 1;
    text-align: center;
    padding: 30px 0 28px;
    border: 2px solid #e9e9e9;
    border-bottom: 2px solid #2a2a2a;
    font-size: 28px;
    font-weight: bold;
    color: #707070;
    background-color: #e9e9e9;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
    cursor: pointer;

    &.active {
      background-color: #fff;
      font-weight: bold;
      border: 2px solid #2a2a2a;
      border-bottom: 2px solid #fff;
      color: #2a2a2a;
    }
  }
  .tab-content {
    display: none;
    &.active {
      display: block;
    }
  }
}

.gnbAll-container {
  .info-img {
    display: block;
    margin: 0 auto 80px;
  }

  .gnb-section-title {
    font-size: 24px;
    font-weight: bold;
    color: #242424;
    margin-bottom: 32px;
  }
  .popular-list {
    gap: 35px 25px;
    grid-template-columns: repeat(3, 365px);
    margin-bottom: 75px;
    .img {
      width: 100%;
    }
    .size{
      gap:10px;
      i{
        font-size:15px;
        line-height:28px;
        padding:0 4px;
        &.coast{
          border-radius:8px;
          padding:0 6px;
        }
      }
    }
    .docs{
      gap:10px;
      i{
        font-size:13px;
        line-height:28px;
        padding:0 6px;
      }
    }
  }
}

.gnbSub-container {
  .links-container {
    border-bottom: 1px solid #a9ada9;
  }
  .links-content {
    display: flex;
    gap: 0 28px;
    width: 1140px;
    margin: 0 auto;
    padding: 82px 0 25px;

    & > li {
      font-size: 24px;
      font-weight: bold;
      color: #242424;
      &.active a {
        color: #e62263;
      }
    }
    a {
      color: #9b9b9b;
      text-decoration: none;
      &:hover {
        color: #4e4e4e;
      }
    }
  }

  .good-list {
    display: flex;
    flex-direction: column;
    gap: 37px;
    padding: 29px 0;
    & > li {
      display: flex;
      border: 1px solid #a7a7a7;
      border-radius: fff8px;
      overflow: hidden;
    }
    .img {
      width: 525px;
      height: 418px;
    }
    .text-box {
      position: relative;
      width: calc(100% - 525px);
      box-sizing: border-box;
      padding: 55px 52px 94px 52px;
    }
    .good-title {
      display: block;
      font-size: 24px;
      font-weight: bold;
      color: #242424;
    }
    p {
      padding-top: 34px;
      font-size: 17px;
      line-height: 160%;
      color: #242424;
      font-weight: lighter;
      letter-spacing: -1px;
      opacity: 0.5;
      
    }
    .good-button {
      position: absolute;
      bottom: 48px;
      background: #242424;
      width: calc(100% - 104px);
      height: 46px;
      font-size: 25px;
      color: #ffffff;
      border-radius: 7px;
    }
  }
}
