/* 메인 - 최상단 배너 슬라이드 */
.main-banner-wrap {
  margin-bottom: 80px;
  .swiper-slide {
    height: 400px;
  }
}

.main-section-title {
  position: relative;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  color: #010101;
  text-align: center;

  &.align-left {
    text-align: left;
  }

  /* 타이틀 우측 버튼 */
  .btn-title {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &.link-icon {
    }
  }
}

/* 메인 - 공통 '더보기' 버튼 */
.btn-main-more {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: inline-flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 2px 12px 0 13px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  color: #7e7e7e;
  text-decoration: none;

  &:after {
    content: '>';
    margin-left: 5px;
  }
}

/* 메인 - 공식몰 이벤트 */
.event-card-wrap {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;

  > li {
    flex: 1;

    > a {
      display: block;
      text-decoration: none;
    }
    .img {
      border-radius: 8px;
    }

    .date {
      color: var(--color-gray-30);
    }
  }
}

/* 메인 - 콘텐츠/브랜드 스토리 */
.main-contents-brand {
  display: flex;
  gap: 20px;
  padding: 80px 0 40px;
  background-color: var(--color-gray-10);

  .main-contents,
  .main-brand-story {
    flex: 1;
  }

  /* 콘텐츠 */
  .contents-card-wrap {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;

    > li {
      flex: 1;
      font-size: 18px;
      font-weight: 400;
      color: var(--color-gray-50);
      word-break: keep-all;

      h3 {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        color: var(--color-gray-100);
      }

      > a {
        display: block;
        text-decoration: none;
      }

      .desc {
        white-space: pre-line;
        line-height: 30px;
      }
      .img {
        display: block;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    }
  }
}
