@use 'common/mixins' as mx;

/* 메인 - minWidth 컨텐츠 wrap */
.main-contents-wrap {
  max-width: 1140px;
  margin: 0 auto;
}

/* 
  swiper-type1 
  1. 메인 - 상단 KeyVisual 배너
  2. 슬라이더 신제품 슬라이더
*/
.pagination-type1 {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 6px !important;
    background: #cacaca;
    opacity: 1;
    transition: width ease 0.3s;

    &-active {
      width: 21px;
      border-radius: 5px;
      background: #e62263;
    }
  }
}

/* 메인 - 최상단 배너 슬라이드 */
.main-banner-wrap {
  position: relative;
  margin-bottom: 80px;

  .main-banner {
    .link {
      display: block;
      height: 465px;
      position: relative;
      text-decoration: none;
      user-select: none;

      .title {
        display: block;
        height: 100%;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1140px;
        width: 100%;
        margin: auto;
        font-size: 35px;
        font-weight: 600;
        line-height: normal;
      }
      .img {
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .main-banner-prev,
    .main-banner-next {
      height: 100%;
      top: 0;
      margin-top: 0;
      width: 60px;
    }

    .main-banner-prev {
      left: 11.3%;
      &:after {
        @include mx.svg('/btn/btn-slider-prev-main-banner.svg', 29px, 55px);
      }
    }
    .main-banner-next {
      right: 11.3%;
      &:after {
        @include mx.svg('/btn/btn-slider-next-main-banner.svg', 29px, 55px);
      }
    }

    @media screen and (max-width: 1750px) {
      .main-banner-prev {
        left: 3%;
      }
      .main-banner-next {
        right: 3%;
      }
    }

    @media screen and (max-width: 1450px) {
      .main-banner-prev {
        left: 20px;
      }
      .main-banner-next {
        right: 20px;
      }
    }

    @media screen and (max-width: 1300px) {
      .main-banner-prev,
      .main-banner-next {
        display: none;
      }
    }
  }

  .main-banner-pagination.swiper-pagination {
    bottom: 15px;
  }
}

.main-section-title {
  position: relative;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  color: #010101;
  text-align: center;

  &.align-left {
    text-align: left;
  }

  /* 타이틀 우측 버튼 */
  .btn-title {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &.link-icon {
      @include mx.svg('/icon/ico-naver-blog.svg', 50px, 50px);
      top: auto;
      bottom: 0;
      transform: none;
    }
  }
}

/* 메인 - 공통 '더보기' 버튼 */
.btn-main-more {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: inline-flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 2px 12px 0 13px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  color: #7e7e7e;
  text-decoration: none;

  &.white {
    color: #fff;
    border-color: #fff;
  }

  &:after {
    content: '>';
    margin-left: 5px;
  }
}

/* 메인 - 인기제품 */
.popular-list {
  display: grid;
  gap: 70px 14px;
  grid-template-columns: repeat(4, 275px);
  margin-bottom: 70px;

  a {
    display: block;
    font-size: 16px;
    text-decoration: none;
  }

  .img {
    display: block;
    border-radius: 8px;
    margin-bottom: 14px;
  }

  .title {
    display: flex;
    gap: 10px;
    padding: 0 10px;
    margin-bottom: 3px;

    > b {
      @include mx.ellipsis(1);
    }
  }
  .price {
    display: block;
    padding: 0 10px;
    font-weight: 600;
    color: #e52163;
    @include mx.ellipsis(1);
  }
}

/* 메인 - 공식몰 이벤트 */
.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 50px;

  > li {
    > a {
      display: block;
      text-decoration: none;
      color: #242424;
    }

    .img {
      display: block;
      max-width: 100%;
      margin-bottom: 20px;
      border-radius: 8px;
    }
    .title {
      margin-bottom: 11px;
      font-size: 18px;
      font-weight: 600;
      @include mx.ellipsis(1);
    }
    .date {
      font-size: 18px;
    }
  }
  &.done {
    > li img {
      filter: grayscale(100%);
    }
  }
}

/* 메인 - 신제품 */
.main-new {
  position: relative;
  margin-bottom: 70px;
  padding-bottom: 40px;

  .main-new-slide {
    .link {
      display: block;
      overflow: hidden;
      position: relative;
      border-radius: 8px;

      .text {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 82px;

        .title {
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 16px;
        }
        .desc {
          font-size: 20px;
        }
      }
    }
  }

  .main-new-pagination.swiper-pagination {
    bottom: 0;
  }
}

/* 메인 - 콘텐츠/브랜드 스토리(S) */
.main-contents-brand {
  padding: 92px 0 50px;
  background-color: #f6f6f6;

  > .main-contents-wrap {
    display: flex;
    gap: 30px;
  }

  .main-contents,
  .main-brand-story {
    flex: 1;

    .main-section-title {
      margin-bottom: 15px;
      padding-left: 12px;
    }
  }

  /* 콘텐츠 */
  .contents-card-wrap {
    display: flex;
    gap: 12px;
    margin-bottom: 40px;

    > li {
      flex-grow: 1;
      width: 250px;
      font-size: 18px;
      font-weight: 400;
      word-break: keep-all;

      > a {
        display: block;
        font-size: 18px;
        color: #242424;
        text-decoration: none;
      }

      .img {
        width: 100%;
        display: block;
        border-radius: 8px;
        margin-bottom: 20px;
      }
      .title {
        margin-bottom: 13px;
        font-weight: 600;
        color: #242424;
        @include mx.ellipsis(1);
      }
      .desc {
        white-space: pre-line;
        line-height: 33px;
      }
    }
  }

  /* 브랜드 스토리(S) */
  .main-brand-story {
    width: 600px;

    .title-wrap {
      position: relative;
      button {
        font-size: 0;
      }

      .brand-slide {
        &-prev,
        &-next {
          width: 35px;
        }
        &-prev {
          left: auto;
          right: calc(35px + 10px);
          &:after {
            @include mx.svg('/btn/btn-slider-prev-brand-story.svg', 11px, 21px);
          }
        }
        &-next {
          right: 0;
          &:after {
            @include mx.svg('/btn/btn-slider-next-brand-story.svg', 11px, 21px);
          }
        }
      }
    }

    .figure {
      position: relative;
      overflow: hidden;
      border-radius: 8px;

      .link {
        position: absolute;
        inset: 0;
        z-index: 10;

        .text {
          position: absolute;
          inset: 0;
          top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #fff;

          .title {
            display: block;
            margin-bottom: 18px;
            font-weight: 400;
            font-size: 25.8px;
          }

          .desc {
            font-size: 21.11px;
            line-height: 30.49px;
            margin-bottom: 50px;
          }

          .btn-main-more {
            display: inline-block;
            position: static;
            transform: none;
            padding: 7px 17px;
            font-size: 21.11px;
            border-radius: 14px;
          }
        }
      }
    }
  }
  /* 브랜드 스토리(E) */
}
/* 메인 - 콘텐츠/브랜드 스토리(E) */

/* 메인 - 공지사항 */
.main-notice {
  padding: 36px 0;

  > .main-contents-wrap {
    position: relative;
    display: flex;
    gap: 68px;
  }

  .btn-main-more {
    position: absolute;
    right: 0;
    top: 0;
    transform: none;
  }

  .main-notice-title {
    flex-grow: 0;
    flex-shrink: 0;

    i {
      display: inline-block;
      padding: 7px 22px;
      font-size: 18px;
      font-weight: 600;
      background-color: #2f2f2f;
      border-radius: 16.5px;
      color: #fff;
      text-align: center;
    }
  }

  .main-notice-list {
    flex-grow: 1;
    padding-right: 100px;

    > li:not(:last-child) {
      margin-bottom: 24px;
    }

    .link {
      display: flex;
      gap: 0 17px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      .title {
        font-size: 20px;
        font-weight: 600;
      }
      .date {
        font-size: 20px;
      }
    }
  }
}

/* 메인 - 퀵메뉴 */
.main-quick-menu {
  border-top: 1px solid #7e7e7e;

  .main-quick-menu-list {
    display: flex;
    justify-content: center;
    gap: 0 20px;

    li {
      a {
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 162px;
        height: 162px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;

        $icons:
          'estimate' 52px 56px,
          'guide' 57px 57px,
          'shipment' 88px 55px,
          'faq' 55px 57px,
          'map' 59px 53px,
          'webhard' 69px 55px;

        @each $icon, $width, $height in $icons {
          &.#{$icon}:before {
            @include mx.svg('/icon/ico-quick-#{$icon}.svg', $width, $height);
          }
        }
      }
    }
  }
}
