@use 'common/mixins' as mx;

/* 메인 - minWidth 컨텐츠 wrap */
.main-contents-wrap {
  max-width: 1140px;
  margin: 0 auto;
}

/* 메인 - 최상단 배너 슬라이드 */
.main-banner-wrap {
  margin-bottom: 80px;
  .swiper-slide {
    height: 400px;
  }
}

.main-section-title {
  position: relative;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: normal;
  font-weight: 600;
  color: #010101;
  text-align: center;

  &.align-left {
    text-align: left;
  }

  /* 타이틀 우측 버튼 */
  .btn-title {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &.link-icon {
      @include mx.svg('/icon/ico-naver-blog.svg', 50px, 50px);
      top: auto;
      bottom: 0;
      transform: none;
    }
  }
}

/* 메인 - 공통 '더보기' 버튼 */
.btn-main-more {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: inline-flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 2px 12px 0 13px;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  color: #7e7e7e;
  text-decoration: none;

  &.white {
    color: #fff;
    border-color: #fff;
  }

  &:after {
    content: '>';
    margin-left: 5px;
  }
}

/* 메인 - 인기제품 */
.popular-list {
  display: grid;
  gap: 70px 14px;
  grid-template-columns: repeat(4, 275px);
  margin-bottom: 70px;

  a {
    display: block;
    font-size: 16px;
    text-decoration: none;
  }

  .img {
    display: block;
    border-radius: 8px;
    margin-bottom: 14px;
  }

  .title {
    display: flex;
    gap: 10px;
    padding: 0 10px;
    margin-bottom: 3px;

    > b {
      @include mx.ellipsis(1);
    }
  }
  .price {
    display: block;
    padding: 0 10px;
    font-weight: 600;
    color: #e52163;
    @include mx.ellipsis(1);
  }
}

/* 메인 - 공식몰 이벤트 */
.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 50px;

  > li {
    > a {
      display: block;
      text-decoration: none;
      color: #242424;
    }

    .img {
      display: block;
      max-width: 100%;
      margin-bottom: 20px;
      border-radius: 8px;
    }
    .title {
      margin-bottom: 11px;
      font-size: 18px;
      font-weight: 600;
      @include mx.ellipsis(1);
    }
    .date {
      font-size: 18px;
    }
  }
  &.done {
    > li img {
      filter: grayscale(100%);
    }
  }
}

/* 메인 - 콘텐츠/브랜드 스토리 */
.main-contents-brand {
  padding: 92px 0 50px;
  background-color: #f6f6f6;

  > .main-contents-wrap {
    display: flex;
    gap: 30px;
  }

  .main-contents,
  .main-brand-story {
    flex: 1;
  }

  /* 콘텐츠 */
  .contents-card-wrap {
    display: flex;
    gap: 12px;
    margin-bottom: 40px;

    > li {
      flex-grow: 1;
      width: 250px;
      font-size: 18px;
      font-weight: 400;
      word-break: keep-all;

      > a {
        display: block;
        font-size: 18px;
        color: #242424;
        text-decoration: none;
      }

      .img {
        width: 100%;
        display: block;
        border-radius: 8px;
        margin-bottom: 20px;
      }
      .title {
        margin-bottom: 13px;
        font-weight: 600;
        color: #242424;
        @include mx.ellipsis(1);
      }
      .desc {
        white-space: pre-line;
        line-height: 33px;
      }
    }
  }

  /* 브랜드 스토리 */
  .main-brand-story {
    width: 600px;

    .figure {
      position: relative;
      overflow: hidden;
      border-radius: 8px;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .text {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;

        .title {
          display: block;
          margin-bottom: 18px;
          font-weight: 400;
          font-size: 25.8px;
        }

        .desc {
          font-size: 21.11px;
          line-height: 30.49px;
          margin-bottom: 50px;
        }

        .btn-main-more {
          display: inline-block;
          position: static;
          transform: none;
          padding: 7px 17px;
          font-size: 21.11px;
          border-radius: 14px;
        }
      }
    }
  }
}
